.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: auto;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    margin-top: 12rem;
    margin: 5rem auto 0 auto;
    width: 80vw;

    @include mq(large) {
        // display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 50% 50%;
        column-gap: 1em;
        row-gap: 3em;
    }

    @include mq(xlarge) {
        max-width: 1300px;
    }

    &__title {
        margin: 1em 0;
        position: relative;
        height: 5rem;
        grid-row-start: 1;
        grid-column-start: 1;
        color: #fff;
        text-align: center;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $main-color-shaded;
            width: 100vw;
            height: 3rem;
            opacity: .8;
            z-index: -1;
        }
    }

    &__text {
        grid-row-start: 2;
        grid-column-start: 1;

        @include mq(small) {
            grid-row-start: 1;
        }
    }
}

.map {
    position: relative;
    overflow: hidden;
    grid-row-start: 2;
    grid-column-start: 1;
    margin: 0 auto;

    @include mq(small) {
        grid-row-start: 2;
        grid-column-end: 3;
    }

    @include mq(large) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;

    }

    &__wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        @include mq(large) {
            flex-direction: row;
        }
    }

    &__img {
        width: 100%;
        opacity: 0.8;
        width: 300px;
        position: relative;

        @include mq(medium) {
            width: 600px;
        }
    }

    &__pin {
        position: absolute;
        top: 75px;
        left: 155px;
        color: $pin-color;
        font-size: 50px;
        z-index: 2;
        scale: 0.8;

        @include mq(medium) {
            top: 170px;
            left: 330px;
            scale: 1;
        }
    }

    &__container {
        position: absolute;
        top: 75px;
        left: 20px;
        border-left-color: 200px;
        background-color: $pin-color;
        display: inline-block;
        color: #fff;
        box-shadow: 5px 5px 5px darken($pin-color, 25%);
        scale: 0.8;

        @include mq(medium) {
            top: 180px;
            left: 170px;
            scale: 1;
        }
    }

    &__info {
        font-size: 20px;
        padding: 10px;
    }
}

.enquiry {
    border: 1px #fff solid;
    padding: 4rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: $main-color;
    max-width: 50em;
    font-size: 1.6rem;

    @include mq(large) {
        padding-bottom: 40px;
        grid-column-start: 2;
        grid-row-start: 2;
    }

    &::after {
        width: 100%;
        height: 100%;
        background-color: $main-color;
    }

    &__title {
        padding-bottom: 2.2rem;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
        justify-content: center;

        @include mq(small) {
            flex-direction: row;
        }
    }

    &__container {
        width: 100%;

        @include mq(small) {
            width: 50%;
        }

        &-message {
            min-width: 100%;
            margin-top: 2rem;
            margin-bottom: 1.2rem;
        }
    }

    &__label {
        display: block;
        width: 100%;
        padding: 15px 0 5px 0;
    }

    &__input {
        font-size: 1rem;
        width: 96%;
        background-color: $main-color;
        color: #fff;
        padding: 5px;
        padding-right: 0;
        font-size: 1.8rem;

        @include mq(small) {
            width: 90%;
        }

        &::placeholder {
            color: #bbb;
        }

        &:focus {
            border: 2px solid #fff;
            box-shadow: 10px;
            box-shadow: 0 0 10px #fff;
        }

    }

    &__text {
        min-width: 94%;
        background-color: $main-color;
        color: #fff;
        font-size: 1.8rem;
        padding: 1rem;
        line-height: 2.6rem;
        margin: 0 auto;

        &:focus {
            border: 2px solid #fff;
            box-shadow: 10px;
            box-shadow: 0 0 10px #fff;
        }
    }

    &__submit {
        color: #fff;
        background: $main-color;
        border: 2px solid #FFFFFF;
        width: 165px;
        height: 40px;
        line-height: 40px;
        z-index: 99;
        transform: skew(20deg);
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
        outline: 1px solid;
        outline-color: rgba(255, 255, 255, .5);
        outline-offset: -2px;
        transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
        float: right;
        margin-top: 3rem;

        &:hover {
            cursor: pointer;
            border: 2px solid $main-color;
            color: $main-color;
            background: #FFFFFF;
            outline-color: rgba(255, 255, 255, 0);
            outline-offset: 15px;
        }
    }

    &__span {
        display: inline-block;
        transform: skew(-20deg);
    }
}

.footer-info {
    text-align: center;
    padding: 3rem 1rem 3rem 1rem;
    background-color: #ecece7;
    color: #1e367b;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    
    &__logo-container {
        margin-bottom: 1rem;
    }

    &__logo {
        width: 60px;
        height: 60px;
        border: 1px solid #1e367b;
        border-radius: 50%;
        padding: 8px;
        object-fit: contain;
        background-color: transparent;
    }

    &__copyright {
        font-size: 1.8rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        letter-spacing: 1px;
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        font-size: 1.4rem;
        line-height: 1.6;
        font-family: Tahoma, sans-serif;

        p {
            margin: 0;
        }

        a {
            color: inherit;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__regulations {
        font-size: 1.2rem;
        margin-top: 1.5rem;
        font-style: italic;
        color: #666;
    }
}