.section__wrap{
    margin: 5rem auto 0 auto;
    width: 80vw;

    @include mq(medium) {
        margin: 10rem auto 0 auto;
        width: 80vw;
    }

    @include mq(xlarge) {
        max-width: 1300px;
    }
}
.about {
    order: 1;
}
.projects {
    order: 3;
}

.team-container {
    order: 4;
}

.clients-container {
    order: 5;
}

.policies {
    order: 6;
}

.contact {
    order: 7;
}

.enquiry {
    order: 8;
}

.footer {
    order: 9;
}
