.grid {
    display: flex;
    flex-wrap: nowrap;
    gap: 1.5em;
    align-items: stretch;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0.5em 0;

    @include mq(medium) {
        gap: 2em;
    }

    @include mq(large) {
        gap: 1em;
    }

    &__item {
        box-sizing: border-box;
        border: solid 1px #fff;
        padding: 5px;
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: 0.4s;

        flex: 0 0 auto;
        width: 220px; /* adjust as needed */
        height: auto;
        display: block;
        object-fit: cover;

            @include mq(medium) {
                 width: 280px;
            }

            @include mq(large) {
                width: 320px;
            }
        }

         &--1 { }
        &--2 { }
        &--3 { }
        &--4 { }
        &--5 { }
        &--6 { }
        &--7 { }
        &--8 { }

        &--5 {
            grid-row-start: 5;

            @include mq(medium) {
                grid-column-start: 2;
                grid-row-start: 4;

            }

            @include mq(large) {
                grid-row-start: 2;
                grid-column-start: 2;
            }
        }

        &--6 {
            grid-row-start: 6;

            @include mq(large) {
                grid-row-start: 3;
            }

            @include mq(medium) {
                grid-column-start: 2;
                grid-row-start: 3;
            }
        }

        &--7 {
            grid-row-start: 7;
            height: 212px;

            @include mq(medium) {
                grid-column-start: 1;
                grid-row-start: 3;
            }

            @include mq(large) {
                grid-row-start: 3;
                grid-column-start: 1;
            }
        }

        &--8 {
            grid-row-start: 8;

            @include mq(large) {
                grid-row-start: 3;
                grid-column-start: 3;
            }
        }
    }



.projects {
    &__wrap {
        position: relative;
    }

    &__title {
        text-transform: uppercase;
        position: relative;
        margin: 3em auto 2em auto;
        color: #fff;
        text-align: center;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $main-color-shaded;
            width: 100vw;
            height: 30px;
            opacity: .8;
            z-index: -1;
        }
    }

    &__bcg {
        position: absolute;
        bottom: -150px;
        left: 300px;
        z-index: -1;
    }
}