@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import 'variables';

* {
    font-weight: normal;
    font-family: 'Poppins',
        Arial,
        Helvetica,
        sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    background-color: #ecece7;
    color: #fff;
    width: 100%;
    max-width: 100%;
}

body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
}

@import 'typography';
@import 'layout';
@import 'header';
@import 'about';
@import 'menu';
@import 'projects';
@import 'policies';
@import 'gallery';
@import 'footer';